body {
	font-family: 'Quicksand', sans-serif;
}
p {
	margin: 0;
}
.auth-form {
	max-width: 330px;
	padding-top: 10%;
}
.spinner-layer {
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	padding: 50%;
	padding-top: 20%;
	padding-bottom: 20%;
}
.ewsd-container {
	margin-right: 175px;
	margin-left: 175px;
}

.list-container {
	width: 100%;
}
.table-row-single {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 5px;
	margin-bottom: 10px;
}
.react-datepicker-wrapper {
	display: block !important;
}
.select-search-box__search {
	box-shadow: none !important;
}
.clickable {
	cursor: pointer;
}
.comment-box {
	padding: 20px;
	white-space: pre-wrap;
	position: relative;
	padding: 20px;
	border-radius: 15px;
	background-color: #f3f3f3;
	margin-bottom: 10px;
}
.comment {
	word-wrap: break-word;
}
